a.contact-us-link {
  text-decoration: none;
  color: #fff;
}

nav,
h1,
h2 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #212529db;
}

.container.main {
  margin: 50px auto;
}

p {
  margin: 50px auto;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

header {
  position: relative;
}

h1 {
  border: 1px solid #212529;
  padding: 20px;
}

i {
  margin-right: 5px;
}
.video.container {
  max-width: 4000px;
  padding: 0;
}

.video-wrapper {
  position: relative;
  max-width: 4000px;
  height: 600px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.contact-us {
  border-radius: 0%;
  margin-left: 20px;
}

@media (max-width: 768px) {
  button.contact-us {
    display: none;
  }
}
