a {
  text-decoration: none;
}

a.contact-us-link {
  text-decoration: none;
  color: #fff;
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

nav,
h1,
h2 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #212529db;
}

.container.main {
  margin: 50px auto;
}

.background-img {
  background-image: url(img/bg2.jpg);
  height: 800px;
  background-position: center;
}

p {
  margin: 50px auto;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

header {
  position: relative;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #212529;
  color: #fff;
  padding: 50px;
}

h1 {
  border: 1px solid #212529;
  padding: 20px;
}

i.logo {
  margin-right: 5px;
}

i.scroll-down {
  font-size: 48px;
  font-weight: lighter;
  color: #2125292d;
}

i.scroll-down:hover {
  color: #212529;
}

img.bg-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video.container {
  max-width: 4000px;
  padding: 0;
}

.video-wrapper {
  position: relative;
  max-width: 4000px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-img {
  max-width: 4000px;
  padding: 0;
}

.background-image {
  padding: 0;
}
.background-image-wrapper {
  position: relative;
  max-width: 4000px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.contact-us {
  border-radius: 0%;
  margin-left: 20px;
}
/*
@media (max-width: 768px) {
  button.contact-us {
    display: none;
  }
} */

.image-rounded {
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
